<!DOCTYPE html>
<html lang="th">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ผลการเลือก</title>
  <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
</head>
<body>
  <div class="phone-frame">
    <div class="container">
      <h2>ผลสรุป</h2>
      <p>เลือกช้อยส์ที่ {{ max_choice_index|add:1 }} มากที่สุด</p>
      <a href="{% url 'reset_choices' %}" class="btn">เริ่มต้นใหม่</a>
    </div>
  </div>
</body>
</html>
