{% extends "base.html" %}

{% block content %}
<style>
.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-image: url("https://i.pinimg.com/736x/97/91/ca/9791ca58d20a20026d503fa5c5a214f4.jpg");
}
.choicelist {
  justify-content: center;
  align-items: center;
  gap: 15px;
  display: flex;
  flex-direction: column;
  button {
    font-size: small;
    font-weight: bold;
    width: 90%;
    max-width: 400px;
    padding: 5px 10px;
    text-align: center;
  }
}
.question {
  font-weight: bolder;
  text-align: center;
}
</style>

<div class="all">
<div class="question">
  <p>คุณเลยมีความคิดดีๆที่จะ</p>
</div>

<form method="post">
  {% csrf_token %}
  <div class="choicelist">
    <button type="submit" name="choice" value="choice1" class="btn btn-info">รีบพุ่งเข้าไปหาเพราะมันน่ารักมาก!!</button>
    <button type="submit" name="choice" value="choice2" class="btn btn-info">เข้าไปอุ้มเจ้าหนูเรืองแสงมารีดเอาพลังงานไฟฟ้ามาใช้</button>
    <button type="submit" name="choice" value="choice3" class="btn btn-info">คิดว่าจะนำไฟฟ้าของมันไปใช้ประโยชน์อะไรดี..</button>
    <button type="submit" name="choice" value="choice4" class="btn btn-info">ลองสังเกตอาการผิดปกติของหนูเรืองแสงไปสักพัก...</button>
    <button type="submit" name="choice" value="choice5" class="btn btn-info">คิดว่าจะลองจับมันไปทำเป้นเมนูอะไรดี</button>
  </div>
</form>
</div>

{% endblock %}