{% extends "base.html" %}

{% block content %}
<style>
.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-image: url("https://i.pinimg.com/736x/97/91/ca/9791ca58d20a20026d503fa5c5a214f4.jpg");
}
.choicelist {
  justify-content: center;
  align-items: center;
  gap: 15px;
  display: flex;
  flex-direction: column;
  button {
    font-size: small;
    font-weight: bold;
    width: 90%;
    max-width: 400px;
    padding: 5px 10px;
    text-align: center;
  }
  button:hover {
    transform: scale(1.05);
  }
}
.question {
  font-weight: bolder;
  text-align: center;
  font-size: larger;
}
</style>

<div class="all">
<div class="question">
  <p>โจทย์ หน้า 7</p>
</div>

<form method="post">
  {% csrf_token %}
  <div class="choicelist">
    <button type="submit" name="choice" value="choice1" class="btn btn-info">1</button>
    <button type="submit" name="choice" value="choice2" class="btn btn-info">2</button>
    <button type="submit" name="choice" value="choice3" class="btn btn-info">3</button>
    <button type="submit" name="choice" value="choice4" class="btn btn-info">4</button>
    <button type="submit" name="choice" value="choice3" class="btn btn-info">5</button>
  </div>
</form>
</div>

{% endblock %}