{% extends "base.html" %}

{% block content %}
<style>
.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-image: url("https://i.pinimg.com/736x/97/91/ca/9791ca58d20a20026d503fa5c5a214f4.jpg");
}
.choicelist {
  justify-content: center;
  align-items: center;
  gap: 15px;
  display: flex;
  flex-direction: column;
  button {
    font-size: small;
    font-weight: bold;
    width: 90%;
    max-width: 400px;
    padding: 5px 10px;
    text-align: center;
  }
}
.question {
  font-weight: bolder;
  text-align: center;
  font-size: larger;
}
</style>

<div class="all">
<div class="question">
  <p>คุณมีทางเลือกคือ</p>
</div>

<form method="post">
  {% csrf_token %}
  <div class="choicelist">
    <button type="submit" name="choice" value="choice1" class="btn btn-info">ไปสร้างสะพานด้วยตัวเอง เพื่อให้มั่นใจว่าเสร็จเร็วขึ้น</button>
    <button type="submit" name="choice" value="choice2" class="btn btn-info">ออกแบบสะพานใหม่ที่มีโครงสร้างแข็งแรงและสวยงามกว่าเดิม</button>
    <button type="submit" name="choice" value="choice3" class="btn btn-info">จัด Workshop การเลือกใช้วัสดุสำหรับวิศวกรและฝึกอบรมด้านความปลอดภัย</button>
    <button type="submit" name="choice" value="choice4" class="btn btn-info">คิดค้น วิจัยยาที่สามารถทำให้บินได้ชั่วคราวหรือยาที่เพิ่มประสิทธิภาพการทำงานของวิศวกร</button>
    <button type="submit" name="choice" value="choice5" class="btn btn-info">จ้างแรงงานเพิ่มเติมหรือจ้างคนเพิ่ม โดยใช้เงิน</button>
  </div>
</form>
</div>

{% endblock %}